<div class="">
  <div class="">
    <div class="wrapper">
      <header class="header container">
        <div class="menu-bar icon-hover" (click)="onMenuBar()">
          <p class="bar"></p>
          <p class="bar"></p>
          <p class="bar"></p>
        </div>
        <div>
          <div class="logo icon-hover" [routerLink]="['/', 'home']">
            <img src="assets/shared/desktop/logo.svg">
          </div>
        </div>

        <nav>
          <ul>
            <li><a class="nav-link-hover" [routerLink]="['/','home']" (click)="onRouterLink('home')">home</a></li>
            <li><a class="nav-link-hover" [routerLink]="['/','headphones']"
                (click)="onRouterLink('headphones')">headphones</a></li>
            <li><a class="nav-link-hover" [routerLink]="['/','speakers']"
                (click)="onRouterLink('speakers')">speakers</a></li>
            <li><a class="nav-link-hover" [routerLink]="['/','earphones']"
                (click)="onRouterLink('earphones')">earphones</a></li>
          </ul>
        </nav>
        <div>
          <div class="cart-basket" (click)="onBasketClick()">
            <p>
              <span [matBadge]="addedProductsCount" matBadgeOverlap="false" matBadgeSize="medium"
                *ngIf="addedProductsCount"> </span>
              <img class="icon-hover" src="assets/shared/desktop/icon-cart.svg">
            </p>

          </div>
        </div>
        <div class="dialog-overlay " #cartDialogOverlay></div>
        <div class="cart-dialog " #cartDialogELement>
          <p class="empty-cart" *ngIf="!addedProducts.length">Your cart is empty!</p>
          <div *ngIf="addedProducts.length">
            <div class="cart-header">
              <p class="cart-count">cart ({{addedProducts.length}})</p>
              <p class="p remove-all" (click)="onRemoveAll()">Remove all</p>
            </div>
            <div class="cart-products-list">
              <div class="cart-product" *ngFor="let product of addedProducts">
                <div class="left-info">
                  <div class="product-image">
                    <img [src]="product.product.image.desktop" alt="">
                  </div>
                  <div class="details">
                    <p class="product-name">{{product.title}}</p>
                    <p class="product-price">${{product.product.price | number}}</p>
                  </div>
                </div>
                <div class="right-info">
                  <div class="add-to-cart ">
                    <button class="decrease" (click)="onDecrease(product)">-</button>
                    <input class="product-count-input" type="text" [formControl]="product.countControl" numbersOnly>
                    <button class="increase" (click)="onIncrease(product)">+</button>
                  </div>
                  <a class="remove-single" (click)="onRemoveSingleProduct(product)">remove</a>
                </div>
              </div>
            </div>
            <div class="cart-total-price">
              <p class="p">total</p>
              <p class="price">${{totalAddedProductsPrice | number}}</p>
            </div>
            <button class="checkout-button see-product-button" (click)="onCheckout()">checkout</button>
          </div>
        </div>
      </header>
    </div>
    <div class="header-banner wrapper" *ngIf="currentPath.includes('home')">
      <!-- <p>Earphone</p> -->
      <div class="banner-description container">
        <p class="title new-product-title">new product</p>
        <h1>xx99 mark || <br>headphones</h1>
        <p class="details">Experience natural, lifelike audio and exceptional build quality made for the passionate
          music enthusiast.</p>
        <button class="see-product-button" [routerLink]="['/', 'product-detail', 'xx99-mark-two-headphones']">see
          product</button>
      </div>
    </div>
    <div class="header-title" *ngIf="!isHomeRoute && !isProductDetail && !isCheckout">
      <p>{{title}}</p>
    </div>
  </div>
</div>

<div class="menu-bar-section">
  <div class="overlay" #overlay></div>
  <div class="menu-bar navigation" #menuBar [class.activated-menu-bar]="isMenuBarClicked">
    <div class="categories container">
      <div class="category-item"
        [class.category-margin]="!currentPath.includes('home') || currentPath.includes('product-detail')">
        <div class="category-image">
          <img src="assets/shared/desktop/image-headphones.png" alt="">
        </div>
        <div>
          <p class="category-title">Headphones</p>
          <p class="shop" [routerLink]="['/', 'headphones']">shop <span>></span></p>
        </div>
      </div>
      <div class="category-item"
        [class.category-margin]="!currentPath.includes('home') || currentPath.includes('product-detail')">
        <div class="category-image">
          <img src="assets/shared/desktop/image-speakers.png" alt="">
        </div>
        <div>
          <p class="category-title">speakers</p>
          <p class="shop" [routerLink]="['/', 'speakers']">shop <span>></span></p>
        </div>
      </div>
      <div class="category-item earphone-category"
        [class.category-margin]="!currentPath.includes('home') || currentPath.includes('product-detail')">
        <div class="category-image">
          <img src="assets/shared/desktop/image-earphones.png" alt="">
        </div>
        <div>
          <p class="category-title">earphones</p>
          <p class="shop" [routerLink]="['/', 'earphones']">shop <span>></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
