.wrapper {
  background-color: #101010;
}

.wrapper:first-child {
  position: relative;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #2e2e2e;
}

nav {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    li {
      margin: 0 0.7rem;
    }

    a {
      text-decoration: none;
      font-size: 12px;
      line-height: 25px;
      letter-spacing: 2px;
      font-weight: 400;
      color: #fafafa;
    }
  }
}

.header-title {
  padding: 6rem 0;
  background-color: #101010;

  p {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}

.header-banner {
  // padding: 60px 0;
  width: 100%;
  height: 800px;
  background: url(../../../assets/home/desktop/image-hero.jpg);

  // p {
  //     color: white;
  //     text-align: center;
  //     font-size: 40px;
  //     font-weight: 700;
  //     text-transform: uppercase;
  //     letter-spacing: 5px;
  // }

  .banner-description {
    align-self: center;

    h1 {
      text-transform: uppercase;
      color: #fff;
      margin-top: 16px;
      margin-bottom: 24px;
      font-size: 60px;
    }

    .details {
      color: #898989;
      width: 349px;
      margin-bottom: 40px;
    }
  }
}

.cart-basket {
  position: relative;
  transform: 0.3s filter;
  cursor: pointer;
}

.cart-dialog {
  width: 377px;
  height: auto;
  background-color: #fafafa;
  position: absolute;
  top: 100px;
  right: 0;
  padding: 25px;
  border-radius: 8px;
  z-index: -1;
  opacity: 0;
  transition: 0.4s all;


  .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cart-count {
      text-transform: uppercase;
      font-weight: 600;
    }

    .remove-all {
      color: #898989;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

  }

  .cart-total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    &>p:first-child {
      color: #898989;
    }

    &>p:last-child {
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 1.29px;
      font-weight: 700;
    }
  }

  .cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    .product-image {
      width: 60px;
      height: 60px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .left-info {
      display: flex;
      align-items: center;

      .details {
        margin-left: 15px;

        .product-name {
          font-weight: 600;
        }

        .product-price {
          font-size: 13px;
          font-weight: 500;
          color: #898989;
        }
      }
    }
  }

  .checkout-button {

    width: 100%;

  }


}

.add-to-cart {

  .product-count-input {
    width: 90px;
    padding: 7px 30px;
    margin-right: 0;
  }

  .increase,
  .decrease {
    top: 2px;
  }
}

.dialog-overlay {
  top: 100px;
  left: 0;
  width: 100vw;
  // height: 100vw;
  position: fixed;
  background-color: rgba(16, 16, 16, .5);
  z-index: -1;
  opacity: 0;
  transition: 0.4s all;
}

.hidden {
  display: none;
}

.cart-products-list,
.cart-total-price {
  margin: 1rem 0;
}

.empty-cart {
  text-align: center;
  font-weight: 400;
  color: #101010;
}

.no-scroll {
  position: fixed !important;
  overflow-y: scroll !important;
  width: 100% !important;
}

.logo {
  cursor: pointer;

  img {
    &:hover {
      filter: invert(56%) sepia(72%) saturate(456%) hue-rotate(334deg) brightness(89%) contrast(89%);
    }
  }
}

.remove-single {
  display: block;
  font-size: 12px;
  font-weight: 600;
  text-align: end;
  text-transform: capitalize;
  color: #898989;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.show-dialog-overlay {
  opacity: 1;
  z-index: 20;
  height: 100vh;
}

.show-dialog-cart {
  opacity: 1;
  z-index: 21;
}

.menu-bar {
  position: relative;
  display: none;
  margin-right: 25px;

  .bar {
    background: #fff;
    margin-bottom: 3px;
    width: 20px;
    height: 3px;
    border-radius: 20px;
  }
}

.menu-bar.navigation {
  position: absolute;
  top: 105px;
  left: 0;
  background-color: #fff;
  width: 100%;
  transform: translateY(-102%);
  transition: 0.5s all cubic-bezier(0.39, 0.58, 0.57, 1);
  border-radius: 0 0 10px 10px;
  z-index: 0;

  .categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    .category-item {
      position: relative;
      width: 32%;
      max-width: 350px;
      height: 263px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 0.3s all;

      &:hover {
        transform: scale(1.03);
      }

      // &:hover {
      //   .shop span {
      //     color: #d87d4a;
      //   }
      // }


      .category-image {
        display: flex;
        align-items: flex-end;
        position: absolute;
        width: 165px;
        height: 250px;
        bottom: 95px;

        img {
          width: 100%;
        }
      }

      &>div:last-child {
        width: 100%;
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: center;
        padding-bottom: 15px;

        background-color: #f1f1f1;

        p.category-title {
          text-transform: uppercase;
          color: #000;
          font-weight: 600;
          letter-spacing: 1px;
        }

        p.shop {
          position: relative;
          z-index: 1;
          color: #898989;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          &:hover {
            color: #d87d4a;
          }

          span {
            color: #d87d4a;
            font-weight: 700;
            font-size: 20px;
          }
        }
      }
    }

    .earphone-category .category-image {
      bottom: 90px;
    }
  }
}

.activated-menu-bar {
  transform: translateY(0%) !important;
  // z-index: 0 !important;
}

.overlay {}

@media screen and (max-width: 1130px) {
  .header {
    border: none;
  }

  nav {
    display: none;
  }

  .menu-bar {
    display: block;
  }

  .premium-product {
    display: flex;
    justify-content: center;
    align-items: center;

    .product-image {
      position: unset;
      width: 155px;
      height: 200px;
    }

    .details {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      position: relative;
      justify-content: center;
    }

    .product-description {
      position: unset;
      display: flex;
      flex-direction: column;
      justify-content: center;

      button {
        align-self: center;
      }
    }
  }

  .header-banner {
    background: url(../../../assets/home/tablet/image-header.jpg);
    background-position-y: -140px;
    background-size: cover;
    height: 785px;

    &>div:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .description {
      text-align: center;
    }
  }

  .banner-description {
    text-align: center;

    p {
      width: 100%;
    }
  }

  .product-with-two-section {
    .product-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 30px;
    }
  }

}

@media screen and (max-width: 712px) {
  .menu-bar {
    .categories {
      flex-direction: column;
    }


  }

  .categories {
    &>div {

      width: 100% !important;
      max-width: unset !important;
      height: 170px;
      bottom: 70px;
      justify-content: flex-end !important;

      .category-image {
        bottom: 30px !important;
      }

      .category-image+div {
        border-radius: 10px;

      }
    }
  }

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(16, 16, 16, .5);
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.header nav+div {
  position: relative;
}

@media screen and (max-width: 712px) {}
