.product {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;

  .product-image {
    max-width: 540px;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .product-info {
    width: 40%;
    align-self: center;

    .product-title {
      text-transform: uppercase;
      margin-bottom: 32px;
      width: 300px;
    }

    .product-description {
      color: #898989;
      margin-bottom: 2.5rem;
    }
  }

  .new-product-title {
    color: #d87d4a;
  }

  .product-price {
    color: #101010;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.29px;
    margin-bottom: 47px;
  }
}

.action-buttons {
  display: flex;
}

.disabled-button {
  filter: opacity(0.7);
}
