.wrapper {
  padding: 7rem 1rem;
}

.premium-product {
  position: relative;
  width: 100%;
  height: 560px;
  background-color: #d87d4a;
  overflow: hidden;
  z-index: -1;

  .circle-pattern {
    position: absolute;
    height: 100%;

    img {
      height: 140%;
    }
  }

  .product-image {
    top: 137px;
    left: 95px;
    position: absolute;
    width: 411px;
    height: 430px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .product-description {
    position: absolute;
    right: 65px;
    top: 170px;
    width: 400px;
    color: #fff;
    width: 100%;

    h2 {
      font-weight: 700;
      font-size: 45px;
    }

    .product-details {
      margin: 25px 0;
    }
  }

  button {
    background-color: #000;
  }
}

.simple-product {
  background: url("../../../assets/home/desktop/image-speaker-zx7.jpg");
  height: 320px;
  margin: 6rem 0;
  border-radius: 10px;

  h2 {
    font-size: 30px;
    font-weight: 500;
  }

  .simple-product-information {
    padding: 6rem 0 0 6rem;
  }
}

.product-with-two-section {
  display: flex;
  justify-content: space-between;

  .product-image {
    margin-right: 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .product-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 48%;
    background-color: #f1f1f1;
    padding: 2rem;
  }
}

.black-white-button {
  margin-top: 20px;
  border: 1px solid #000;
  transition: 0.3s background-color;
  background: none;
  color: #000;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.category-product {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;

  .product-image {
    max-width: 540px;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .product-info {
    width: 40%;
    align-self: center;

    .product-title {
      text-transform: uppercase;
      margin-bottom: 32px;
      width: 300px;
    }

    .product-description {
      color: #898989;
      margin-bottom: 2.5rem;
    }
  }

  .new-product-title {
    color: #d87d4a;
  }
}

.category-margin {
  margin-top: 9rem;
}

.opposite {
  order: 1;
}


@media screen and (max-width: 1130px) {
  nav {
    display: none;
  }

  .menu-bar {
    display: block;
  }

  .premium-product {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    .product-image {
      position: unset;
      width: 155px;
      height: 200px;
    }

    .details {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      position: relative;
      justify-content: center;
    }

    .product-description {
      position: unset;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        text-align: center;
        margin-top: 20px;
      }

      &>p {
        text-align: center;
      }

      button {
        align-self: center;
      }
    }
  }

}

@media screen and (max-width: 1120px) {
  .category-product {
    flex-direction: column;
    align-items: center;

    &:nth-child(2) {
      flex-direction: column-reverse;
    }

    .product-image {
      max-width: unset;
      background-color: #f1f1f1;
      text-align: center;
      margin-bottom: 3rem;

      img {
        width: 490px;
      }
    }

    .product-info {
      width: 100%;
      text-align: center;

      .product-title {
        width: 100%;
      }
    }
  }

}

@media screen and (max-width: 712px) {
  .product-with-two-section {
    flex-direction: column;

    .product-image {
      margin: 0 0 20px 0;
      height: 200px;
      border-radius: 10px;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .product-details {
      width: 100%;
      border-radius: 10px;
    }
  }

  .simple-product {
    background: url("../../../assets/home/tablet/image-speaker-zx7.jpg");
    background-position: center;
    border-radius: 10px;
  }

  .category-product {
    .product-image {
      border-radius: 10px;
    }

    img {
      width: 100% !important;
      border-radius: 10px;
    }
  }
}
