/* You can add global styles to this file, and also import other style files */

.wrapper {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1110px;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.see-product-button {
  background-color: #d87d4a;
  border: none;
  color: #fafafa;
  padding: 15px 30px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.nav-link-hover {
  &:hover {
    color: #d87d4a !important;
  }
}

.new-product-title {
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #898989;
  font-size: 13px;
  font-weight: 100;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;

}

.h2 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  font-weight: 700;
}

.p {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 500;
}

// .button-hover {
// transform: 0.3s;
// &:hover {
//     opacity: 0.7;
// }
// }

.add-to-cart {
  position: relative;

  button {
    border: none;
    background-color: transparent;
  }

  .product-count-input {
    font-size: 13px;
    font-weight: 600;
    width: 110px;
    background: #f1f1f1;
    border: none;
    margin-right: 10px;
    padding: 15px 30px;
    text-align: center;


    &:focus {
      outline: 2px solid #d87d4a;
      border-radius: 1px;
    }
  }

  .increase,
  .decrease {
    font-size: 20px;
    color: #898989;
    position: absolute;
    top: 12px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: #d87d4a;
    }
  }

  .increase {
    right: 15px;

  }

  .decrease {
    left: 8px;
  }
}

@font-face {
  font-family: 'Manrope';
  src: url('assets/fonts/webfonts/Manrope-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('assets/fonts/webfonts/Manrope-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('assets/fonts/webfonts/Manrope-ExtraLight.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('assets/fonts/webfonts/Manrope-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('assets/fonts/webfonts/Manrope-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('assets/fonts/webfonts/Manrope-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('assets/fonts/webfonts/Manrope-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
